<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<packageSources>
		<add key="github-resnyanskiy" value="https://nuget.pkg.github.com/resnyanskiy/index.json" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="github-resnyanskiy">
			<package pattern="DateTimeRange" />
		</packageSource>
	</packageSourceMapping>
	<packageSourceCredentials>
		<github-resnyanskiy>
				<add key="Username" value="resnyanskiy" />
				<add key="ClearTextPassword" value="${{ secrets.GITHUB_TOKEN }}" />
		</github-resnyanskiy>
	</packageSourceCredentials>
</configuration>